@page "/"

<div class="container text-center mt-5">
    <h1 class="display-4">Witaj w WeddingPlanner!</h1>
    <p class="lead">Twoje miejsce do zarządzania organizacją ślubu.</p>
    <hr class="my-4">

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card p-4">
                <h3>Budżet</h3>
                <p>Sprawdź wydatki i planuj finanse.</p>
                <a href="budget" class="btn btn-primary">Przejdź do budżetu</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4">
                <h3>Lista gości</h3>
                <p>Zarządzaj listą zaproszonych osób.</p>
                <a href="guests" class="btn btn-secondary">Zobacz gości</a>
            </div>
        </div>
    </div>
</div>